<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= car.carMake %> <%= car.carModel %></title>
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= car.carMake %> <%= car.carModel %></h1>
    <p>Customer Name: <%= car.fullName %></p>
    <p>Valet Name: <%= car.valetName %></p>
    <p>Status: <%= car.parkingStatus %></p>
    <p>Location - Parking Space: <%= car.parkingLocation %></p>
    <p>Make and Model: <%= car.carMake %> <%= car.carModel %></p>
    <p>Year: <%= car.carYear %></p>
    <p>Color: <%= car.carColor %></p>
    <p>Type: <%= car.carType %></p>
    <p>License Plate: <%= car.licensePlate %></p>
    <p>Damage?: <%= car.damageStatus %></p>
    <p>Damage Details: <%= car.damageStatusNotes %></p>
    <p>Paid?: <%= car.paidStatus %></p>

    <a href="/users/<%= user._id %>/cars/<%= car._id %>/edit">
        <button>Update Car</button>
      </a>
      <br>
      <br>
    <form
      action="/users/<%= user._id %>/cars/<%= car._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Remove Car from Garage</button>
    </form>
  </body>
</html>
